{% load static %}

{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
	<title>{{settings.data.site_name}} | {{settings.data.slogon}}</title>
    <link rel="icon" href="images/fav.png" type="image/png" sizes="16x16"> 
    
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/color.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

</head>
<body>
<div class="page-loader" id="page-loader">

  <div class="loader"><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span></div>

</div><!-- page loader -->
<div class="theme-layout">
	
	<div class="authtication bluesh high-opacity">
		<div class="bg-image" style="background-image: url(images/resources/login-bg3.jpg)"></div>
		<ul class="welcome-caro">
			<li class="welcome-box">
				<figure><img src="{% static 'slider2.png' %}" alt=""></figure>
				<h4>Ask questions with seniors Researchers</h4>
				<p>
					Ask questions and get the experienced answer by researchers and others fellows.
				</p>
			</li>
			<li class="welcome-box">
				<figure><img src="{% static 'slider1.png' %}" alt=""></figure>
				<h4>Find New Researchers or Friends</h4>
				<p>
					Join {{settings.data.site_name}} and make your network of university or college fellows.
				</p>
			</li>			
		</ul>
	</div>
	<div class="auth-login">
		<div class="logo"><img src="images/logo.png" alt=""><span>{{settings.data.site_name}}</span></div>
		<div class="mockup left-bottom"><img src="images/mockup.png" alt=""></div>
		<div class="verticle-center">
			<div class="login-form">
				<h4><i class="icofont-key-hole"></i> Login</h4>
				<form action="{% url 'user_login' %}" method="post" class="c-form">
					{% csrf_token %}
					{{ form|crispy}}
					{% if request.GET.next %}
                        <input type="hidden" name="next" value="{{ request.GET.next }}"/>
                        {% endif %}
					<div class="checkbox">
						<input type="checkbox" id="checkbox" checked>
						<label for="checkbox"><span>Remember Me</span></label>
					</div>
					<div>
						<a href="{% url 'custom_password_reset' %}">Forgot your password?</a>
					</div>
					<button class="main-btn" type="submit"><i class="icofont-key"></i> Login</button>
				</form>
				<div class="text-center my-3 font-weight-medium">Don't have an account? <a href="{% url 'signup' %}" class="ml-1">Sign up</a></div>
			</div>
		</div>
		<div class="mockup right"><img src="images/star-shape.png" alt=""></div>
	</div>
	
</div>
	
	<script src="{% static 'js/main.min.js' %}"></script>
	<script src="{% static 'js/script.js' %}"></script>
	

</body>	
</html>